.u-section-1 {
  background-image: url("images/header-background.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 678px;
}

.u-section-1 .u-image-1 {
  width: 543px;
  height: 457px;
  margin: 0 -63px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -211px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 57px;
  height: 57px;
  background-image: url("images/Keymeta-Logo3.png");
  background-position: 50% 50%;
  margin: -327px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  margin: -50px auto 0 67px;
}

.u-section-1 .u-icon-1 {
  width: 35px;
  height: 35px;
  margin: 240px auto 0 256px;
}

.u-section-1 .u-image-3 {
  width: 231px;
  height: 191px;
  margin: 107px auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: 30px auto 60px 67px;
}

.u-section-1 .u-text-5 {
  width: auto;
  margin: -3px 0 60px auto;
}

.u-section-1 .u-text-6 {
  width: auto;
  font-size: 1.5rem;
  margin: 20px auto 60px 0;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  width: auto;
  margin: -285px 34px 247px -34px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 431px;
    height: 368px;
    margin-top: 18px;
    margin-right: -25px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -128px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -349px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 79px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 260px;
    margin-left: 257px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 40px;
    margin-bottom: -31px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 377px;
    height: 326px;
    margin-top: 17px;
    margin-right: -17px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -157px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -267px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 88px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 180px;
    margin-left: 255px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 80px;
    margin-bottom: 48px;
    margin-left: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 293px;
    height: 270px;
    margin-top: 44px;
    margin-right: -23px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -135px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 5px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -263px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 64px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 178px;
    margin-left: 447px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 111px;
    margin-bottom: 18px;
    margin-left: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 266px;
    height: 286px;
    margin-top: -12px;
    margin-right: -50px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -40px;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 115px;
  }

  .u-section-1 .u-image-2 {
    width: 50px;
    height: 50px;
    margin-top: -252px;
    margin-left: -50px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 204px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 553px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    width: 142px;
    height: 118px;
    margin-top: -930px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin: 415px 182px 0 -31px;
  }

  .u-section-1 .u-text-5 {
    margin: 38px -38px 0 279px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
    margin: -94px 153px 0 -31px;
  }

  .u-section-1 .u-text-7 {
    font-size: 0.875rem;
    width: 261px;
    margin: 230px auto 60px;
  }
}